@charset 'UTF-8';

@media screen and (max-width: 600px) {

    #botaoMenu {
        display: block;
        background-color: black;
        width: 90vw;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;

        text-align: center;
    }

    #botaoMenu:hover {
        display: block;
        background-color: lightgray;
        width: 90vw;
    }

    header, header > nav {
        
        flex-flow: column nowrap;

    }

    header > h1 {
        flex-basis: 50px;

    }

    header > nav > a {
        width: 90vw;
    }
    
}